<!--
<app-header></app-header>
-->

<app-intro></app-intro>
<div class="separator">
    <marquee class="transition-text" behavior="alternate">Super good transitioning...</marquee>
</div>
<app-skills></app-skills>
<div class="separator">
    <marquee class="transition-text" behavior="alternate">Super good transitioning...</marquee>
</div>
<app-projects></app-projects>
<div class="separator">
    <marquee class="transition-text" behavior="alternate">Super good transitioning...</marquee>
</div>
<app-about-me></app-about-me>
<app-footer></app-footer>