@import "../../../styles.scss";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    border: 1px solid;
    border-radius: 20%;
    padding: 10px;

    .language-name{
      opacity: 0;
      visibility: hidden;
      position: absolute;
      white-space: nowrap;
      padding: 15px;
      background-color: $off-super-dark;
      border-radius: 15px;
      
      font-size: 1.2rem;
      font-weight: bold;
      color: $white;
      top: -50%;

      transition: opacity 0.2s ease-in;
    }

    &:hover .language-name {
      opacity: 0.8;     
      visibility: visible;
    }

    .logo{
        font-size: 4rem;
    }

    .favorite-glow {
        animation: pulse-golden-blow 3s ease-in-out infinite;
    }

    .not-favorite-glow {
        animation: pulse-silver-blow 3s ease-in-out infinite;
    }
} 

@keyframes pulse-golden-blow {
  0% {
    text-shadow: 0 0 1px #fff, 0 0 4px gold;
  }
  50% {
    text-shadow: 0 0 4px #fff, 0 0 6px gold, 0 0 8px gold;
  }
  100% {
    text-shadow: 0 0 1px #fff, 0 0 4px gold;
  }
}

@keyframes pulse-silver-blow {
  0% {
    text-shadow: 0 0 1px #fff, 0 0 4px silver;
  }
  50% {
    text-shadow: 0 0 4px #fff, 0 0 6px silver, 0 0 8px silver;
  }
  100% {
    text-shadow: 0 0 1px #fff, 0 0 4px silver;
  }
}