/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-VariableFont_wdth_wght.ttf) format('truetype');
}

*{
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

$off-dark: #262626;
$white: #ffffff;
$cmd-blue: #3B78FF;
$yummy-purple: #6E1E9D;
$cmd-green: #16C60C;