<footer class="footer-container">
    <div class="links">
        <a href="https://github.com/Yan2arb4" target="_blank">
            <i class="devicon-github-original logo"></i>
        </a>
        <span class="vertical-bar"></span>
        <a href="https://www.linkedin.com/in/yanéric-roussy-bba39832b" target="_blank">
            <i class="devicon-linkedin-plain logo"></i>
        </a>
        <span class="vertical-bar"></span>
        <a href="mailto:yan2arb6@hotmail.com">
            <i class="fa-solid fa-envelope logo"></i>
        </a>
    </div>
    <p>© 2025 Yanéric Roussy</p>
</footer>