<app-canvas-dots></app-canvas-dots>
<section class="intro">
    <p class="name" [@fadeInBottomLeft]="ng_fadeInBottomLeft">
        Hi, I'm <b>Yanéric</b>.
    </p>
    <p class="description" [@fadeInBottomRight]="ng_fadeInBottomRight">
        I am a <b>Computer Science</b> (CS) student.
    </p>
    <p class="more-description" [@fadeInBottom]="ng_fadeInBottom">
        Currently in my <b>first year </b> of University
    </p>
    <button class="btn-explore liquid" [@fadeInBottom]="ng_fadeInBottom" (click)="scrollToTarget()">Explore the rest</button>
</section>