@import "../../../styles.scss";

.about-me{
    height: 100vh;
    background-color: $off-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .languages{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        max-width: 60%;
        gap: 2rem;
    }

    .skills{
        font-size: 4rem;
    }

    .text{
        color: $white;
    }
}