<section class="about-me">
    <div class="image-part">
        <img class="image" src="../../../assets/images/about_me_image.jpg" alt="about me image"/>
    </div>
    <div class="description">
        <div class="title-section">
            <span class="horizontal-line"></span>
            <p class="title">ABOUT ME</p>
        </div>
        <div class="info-section">
            <p class="info">I stumbled upon programming in my last year of high school and attempted to create a website as my final project. Was it impressive? Not at all, but it sparked a genuine interest in me. Since then, I’ve been fascinated by the idea of building something from nothing digitally and exploring the deep dependence we have on computers in today’s world. Outside of programming, I enjoy playing video games and am a big D&D fan.</p>
        </div>
        <div class="contact">
            <a class="button-cv">Obtain my CV</a>
            <a class="contact-me">Reach me</a>
        </div>
    </div>
</section>