<div class="project-card" (click)="cardClick.emit(project)">
  <div class="image">
    <img
      [src]="project.imageLink ?? 'assets/images/project-placeholder.png'"
      [alt]="project.title"
    />
  </div>
  <div class="description">
    <div class="loading-bar"></div>
    <div class="project-quick-action">
      <p class="short-description">{{ project.type }}</p>
      <p class="project-status" [class.completed]="!project.ongoing">
        {{ project.ongoing ? 'Ongoing' : 'Completed' }}
      </p>
    </div>
    <p class="title">{{ project.title }}</p>
    <div class="tags">
      <span
        class="tag"
        *ngFor="let skill of project.skills"
        [style.color]="skill.color"
        [style.border-color]="skill.color"
        [style.background-color]="skill.color + '15'">
        {{ skill.name }}
      </span>
    </div>
  </div>

</div>