<div class="project-container">
    <p>{{project.title}}</p>
    <div class="card-wrapper">
        <div class="card">
            <img class="project-img" [src]="project.imageLink"/>
        </div>
        <div class="text-box">
            <p>{{project.description}}</p>
            <div class="skills-display">
                <app-language *ngFor="let language of project.skills" [reference]="language.reference" [color]="language.color" [name]="language.name" [favorite]="language.favorite"></app-language>
            </div>
        </div>
    </div>
</div>